<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Registration Form</title>
</head>
<body>
    <h3>Student Registration Form</h3>

    <form th:action="@{/processStudentForm}" th:object="${student}" method="POST">
        <p>First name:</p>
        <input type="text" th:field="*{firstName}">
        <br/>
        <p>Last name:</p>
        <input type="text" th:field="*{lastName}">
        <br/>
        <p>Country:</p>
        <select th:field="*{country}">
            <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"/>
        </select>
        <br/>
        <p>Fav programming language:</p>
        <input type="radio" th:field="*{language}" th:value="Java">Java</input>
        <input type="radio" th:field="*{language}" th:value="Python">Python</input>
        <input type="radio" th:field="*{language}" th:value="CSharp">C#</input>
        <br/>
        <br/>
        <input type="submit"></input>
    </form>
</body>
</html>