<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h3>Login</h3>
    <hr/>

    <div th:if="${param.error}">
        <i class="failed">Incorrect username/password.</i>
        <br/>
        <br/>
    </div>

    <form action="#" method="POST" th:action="@{/authenticate}">
        <input type="text" name="username" placeholder="Username"/>
        <br/>
        <br/>
        <input type="password" name="password" placeholder="Password"/>
        <br/>
        <br/>
        <input type="submit" value="Login"/>
    </form>
</body>
</html>