<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Login</h1>
    <hr />
    <form action="#" th:action="@{/authenticate}" method="POST">
        <div th:if="${param.error}" class="error">
            Invalid username/password.
            <hr />
        </div>
        <div th:if="${param.logout}" class="success">
            You have been logged out.
            <hr />
        </div>
        <div th:if="${registered}" class="success">
            Successfully created account, please log in.
            <hr />
        </div>
        <input type="text" name="username" placeholder="username" />
        <br/> <br/>
        <input type="password" name="password" placeholder="password" />
        <br/> <br/>
        <button type="submit">Login</button>
    </form>
    <hr/>
    <div>
        <a href="" th:href="@{/register/}">Register</a>
    </div>
</body>
</html>