<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <a th:href="@{/home}">
        <h1>Xitter</h1>
    </a>
    <form action="#" method="GET" th:action="@{/search}">
        <input type="text" placeholder="Search" name="query"/>
        <input type="submit" value="Search"/>
    </form>
    <hr/>
    <form action="#" th:action="@{/logout}" method="POST">
        Welcome, <span th:text="${user.displayName}"/>
        <input type="submit" value="Logout"/>
    </form>
    <hr />
    <button class="show-post-form">+</button>
    <hr/>
    <form action="#" th:action="@{/post}" method="POST" th:object="${createPost}" class="add-post hidden">
        <h3>Create a post</h3>
        <input type="text" placeholder="Hello world!..." th:field="*{content}"/> <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error"/>
        <input type="submit" value="Post"/>
        <hr/>
    </form>
    <div class="options">
        <div class="posts-toggle active">Posts</div>
        <div class="users-toggle">Users</div>
    </div>
    <hr/>
    <div class="posts">
        <div th:each="post : ${posts}">
            <a class="post-content" th:href="@{/post/{postId}(postId=${post.id})}">
                <div class="post">
                    Poster: <span th:text="${post.user.displayName}"/> (@<span th:text="${post.user.username}"/>)
                    <p th:text="${post.content}"/>
                    Likes: <span th:text="${post.likes}"/>
                    <br/>
                    <br/>
                    Comments: <span th:text="${#lists.size(post.comments)}"/>
                    <hr />
                </div>
            </a>
        </div>
    </div>
    <div class="users hidden">
        <div th:each="user : ${users}">
            <a class="user-card" th:href="@{/user/{username}(username=${user.username})}">
                <div class="post">
                    <span th:text="${user.displayName}"/> (@<span th:text="${user.username}"/>)
                    <br/>
                    <br/>
                    Followers: <span th:text="${#lists.size(user.followers)}"/>
                    <br/>
                    <br/>
                    Following: <span th:text="${#lists.size(user.following)}"/>
                    <hr />
                </div>
            </a>
        </div>
    </div>

    <script th:src="@{/javascript/home.js}"></script>
    <script th:src="@{/javascript/search.js}"></script>
</body>
</html>