<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>luv2code Company Home Page</title>
</head>
<body>
    <h2>luv2code Company Home Page</h2>
    <hr/>
    Welcome to the luv2code company home page
    <hr/>
    User: <span sec:authentication="principal.username"></span>
    <br/><br/>
    Role(s): <span sec:authentication="principal.authorities"></span>
    <div sec:authorize="hasRole('MANAGER')">
        <a th:href="@{/leaders}">Leadership Meeting</a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/systems} ">IT Systems Meeting</a>
    </div>
    <hr/>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>