.error {
  font-style: italic;
  color: red;
}

.success {
  font-style: italic;
  color: green; 
}

.hidden {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}

.options * {
    display: inline-block;
}

.options * {
  cursor: pointer;
}